* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: 10vh auto;
    border-radius: 25px;
    border: solid darkslateblue 2px;
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box__text {
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: blue 2px 1px;
}

.incremental__button {
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: rgba(33, 33, 159, 0.768);
    color: white;
    padding: 1vh 1vw;
    font-size: 0.9em;
    box-shadow: rgba(14, 14, 81, 0.768) 2px 3px;
    margin: 2vh 0;
}

.incremental__button:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 0.8em;
    margin: 1vh 0;
}